body {
    margin: 0;
  /*  padding: 8px;*/
    font-family: sans-serif;
}

h1#logo {
    margin: 0;
    padding: 0.3em 0 0.4em;
    display: block;
    background-color: #9bcdff;
    background-image: url(images/daniellogo.png);
    background-image: url(images/daniellogo.png), linear-gradient(to bottom, #afd7ff 0%,#9bcdff 50%,#82c0ff 100%);
    background-repeat: no-repeat;
    background-position: center right;
    border-radius: 0px;
    text-align: center;
    font-size: 2.5em;
    font-weight: bold;
}

h2 {
    margin: 8px 0 16px 0;
    font-size: 1.5em;
    font-weight: bold;
}

h3 {
    margin: 8px 0 16px 0;
    font-size: 1.1em;
    font-weight: bold;
}

p {
    margin: 8px 0 0 0;
}

h2#set_title {
    margin: 8px 0 0 0;
    font-size: 1.1em;
    text-align: center;
    font-weight: bold;
}

p#set_description {
    margin: 8px 0 0 0;
    text-align: center;
}

div#counter {
    margin: 8px 0 0 0;
    text-align: center;
}

span#set_counter {
    width: 25%;
    display: inline-block;
    vertical-align: middle;
}

span#time_counter {
    font-size: 5em;
    color: blue;
    width: 50%;
    vertical-align: middle;
    display: inline-block;
}

span#repeat_counter {
    display: inline-block;
    vertical-align: middle;
    width: 25%;
}

progress {
    width: 50%;
    height: 3em;
    margin: 8px 0 0 0;
    -webkit-appearance: none;
}

progress#pause_pbar {
    width: 100%;
}

::-webkit-progress-bar {
    background-color: transparent;
    border: 1px solid #cccccc;
    border-radius: 0px;
}

#hold_pbar::-webkit-progress-value {
    background-color: red;
}
#break_pbar::-webkit-progress-value {
    background-color: green;
}
#pause_pbar::-webkit-progress-value {
    background-color: blue;
}

.board_outer_container {
    margin: 16px 0 0 0;
    padding: 0;
}
.board_inner_container {
    position: relative;
}
.board_small_container {
    margin: 8px 0 0 0;
    position: relative;
    width: 50%;
    /*float: right;*/
}
img.board_img {
    width: 100%;
}
img.overlay_img {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.4;
    width: 100%;
}

div#training_details {
    border: 1px solid #cccccc;
    border-radius: 0px;
    padding: 0.5em;
    margin: 8px 0 0 0;
}

div.training_pause {
    border: none;
    border-radius: 4px;
    background-color: #edf5e8;
    padding: 0.5em;
    margin: 8px 0 0 0;
}    

div.training_set {
    border: none;
    border-radius: 4px;
    background-color: #f3f3f3;
    padding: 0.5em;
    margin: 8px 0 0 0;
}

.set_details {
    clear: both;
}

button {
    margin: 8px 0 0 0;
    height: 3em;
    width: 100%;
    border: none;
    border-radius: 0px;
    background-color: #d9ecff;
    font-size: 1em;
}

#menu_content {
    display: none;
}

#run_content {
    display: none;
}

select {
    width: 100%;
    padding: 1em 0.5em;
    margin: 8px 0 0 0;
    border: none;
    border-radius: 0px;
    background-color: #d9ecff;
    font-size: 1em;
}
