<?xml version='1.0' encoding='utf-8'?>
<widget id="com.letorbi.clawtrainer" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Claw Trainer</name>
    <description>Strong fingers for strong climbing</description>
    <author email="clawtrainer@letorbi.com" href="https://letorbi.com">Torben Haase</author>
    <content src="index.html" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="android-minSdkVersion" value="23" />
    <preference name="AndroidPersistentFileLocation" value="Compatibility" />
    <hook type="before_prepare" src="scripts/beforePrepare.js" />
    <platform name="android">
        <allow-intent href="market:*" />
        <icon background="res/android/mipmap-mdpi/ic_launcher_background.png" density="mdpi" foreground="res/android/mipmap-mdpi/ic_launcher_foreground.png" />
        <icon background="res/android/mipmap-hdpi/ic_launcher_background.png" density="hdpi" foreground="res/android/mipmap-hdpi/ic_launcher_foreground.png" />
        <icon background="res/android/mipmap-xhdpi/ic_launcher_background.png" density="xhdpi" foreground="res/android/mipmap-xhdpi/ic_launcher_foreground.png" />
        <icon background="res/android/mipmap-xxhdpi/ic_launcher_background.png" density="xxhdpi" foreground="res/android/mipmap-xxhdpi/ic_launcher_foreground.png" />
        <icon background="res/android/mipmap-xxxhdpi/ic_launcher_background.png" density="xxxhdpi" foreground="res/android/mipmap-xxxhdpi/ic_launcher_foreground.png" />
        <preference name="RecentsBackgroundColor" value="#9bcdff" />
    </platform>
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
</widget>
