.touch-menu-la {
    width: 280px;
    height: 100%;
    position: fixed;
    top: 0;
    background-color: #FFF;
    -webkit-box-shadow: 0px 8px 10px -5px rgba(0, 0, 0, 0.2), 0px 16px 24px 2px rgba(0, 0, 0, 0.14), 0px 6px 30px 5px rgba(0, 0, 0, 0.12);
    box-shadow: 0px 8px 10px -5px rgba(0, 0, 0, 0.2), 0px 16px 24px 2px rgba(0, 0, 0, 0.14), 0px 6px 30px 5px rgba(0, 0, 0, 0.12); 
}

    .touch-menu-la .tmla-handle {
        position: absolute;
        /* right: -20px; */
        top: 0;
        /* width: 20px; */
        height: 100%;
    }

    .touch-menu-la.opened {
        transition: all 0.3s ease-out !important;
        -webkit-transition: all 0.3s ease-out !important;
        -moz-transition: all 0.3s ease-out !important;
        overflow-y: scroll;
        overflow-x: hidden;
    }
    
    .touch-menu-la.opened::-webkit-scrollbar {
        display: none;
    }

    .touch-menu-la.closed {
        transition: all 0.3s ease-out !important;
        -webkit-transition: all 0.3s ease-out !important;
        -moz-transition: all 0.3s ease-out !important;
        transform: none !important;
        -webkit-transform: none !important;
        -moz-transform: none !important;
    }

.tmla-mask {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #000;
    opacity: 0.0;
    z-index: -1;
}
